<!DOCTYPE html>
<html lang="en-us">
<head>

 	<meta charset="UTF-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<meta name="author" content="Jason Sinn">

  	<title>InMotion Code Challenge</title>

  	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"> 
	</script>
  
</head>

<body>

	<div id = "app">
		<h1> My Movies </h1>
		<div id = 'myMovies'>
			<% data.map((movie, i) => { %>
				<h3><%= movie.title %></h3>
				<ul id = '<% movie.id %>'>
					<li><%= movie.genre %></li>
					<li><%= movie.year %></li>
					<li><%= movie.actors %></li>
					<li> Ratings
						<ul> 
						<% movie.ratings.map((rating, i) => { %>
						<li><%= rating.Source %> : <%= rating.Value %></li>
						<% }) %>
						</ul>
					</li>
				</ul>
			<% }) %>
		</div>
	</div>

</body>

</html>